@model IEnumerable<INSECAP.Models.Curso>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Cursos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar un Nuevo Curso</a>
</p>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    // Función para mostrar una alerta de éxito
    @if (TempData.ContainsKey("MensajeExito"))
    {
        var mensajeExito = TempData["MensajeExito"] as string;
        <text>
            Swal.fire({
                icon: 'success',
                title: 'Éxito!',
                text: '@mensajeExito'
            }).then(function () {
                // Redirige al usuario a la página "Create"
                window.location.href = '@Url.Action("Index", "Cursoes")';
            });
        </text>
    }
</script>
<table class="table">
    <thead>
        <tr>
            <th>
                NOMBRE DEL CURSO
            </th>
            <th>
                OPCIONES
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.CodigoCurso) - @Html.DisplayFor(modelItem => item.NombreCurso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoCurso" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoCurso" class="btn btn-info">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoCurso" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
