@model INSECAP.Models.Nota

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Nota</h1>

<h3>¿Esta seguro de querer eliminar este registro?</h3>
<div>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-3">
            CODIGO DEL CURSO
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CodigoCursoNavigation.CodigoCurso) - @Html.DisplayFor(model => model.CodigoCursoNavigation.NombreCurso)
        </dd>
        <dt class = "col-sm-3">
            FECHA DE INICIO Y FIN DEL BIMESTRE
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.IdBimestreNavigation.FechaInicio) - @Html.DisplayFor(model => model.IdBimestreNavigation.FechaFin)
        </dd>
        <dt class = "col-sm-3">
            RUT DEL ALUMNO
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.RunAlumnoNavigation.RunAlumno)-@Html.DisplayFor(model => model.RunAlumnoNavigation.DvAlumno)
        </dd>
        <dt class="col-sm-3">
            NOMBRE DEL ALUMNO
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RunAlumnoNavigation.Nombre) @Html.DisplayFor(model => model.RunAlumnoNavigation.Apellido)
        </dd>
        <dt class="col-sm-3">
            NOTA
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nota1)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdNota" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-dark">Volver al Listado</a>
    </form>
</div>
