@model INSECAP.Models.Nota

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de la Nota</h1>

<div>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-3">
            CURSO
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CodigoCursoNavigation.CodigoCurso) - @Html.DisplayFor(model => model.CodigoCursoNavigation.NombreCurso)
        </dd>
        <dt class = "col-sm-3">
            FECHA INICIO Y FIN DEL BIMESTRE
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.IdBimestreNavigation.FechaInicio) - @Html.DisplayFor(model => model.IdBimestreNavigation.FechaFin)
        </dd>
        <dt class = "col-sm-3">
            RUT DEL ALUMNO
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.RunAlumnoNavigation.RunAlumno)-@Html.DisplayFor(model => model.RunAlumnoNavigation.DvAlumno)
        </dd>
        <dt class="col-sm-3">
            NOMBRE DEL ALUMNO
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RunAlumnoNavigation.Nombre) @Html.DisplayFor(model => model.RunAlumnoNavigation.Apellido)
        </dd>
        <dt class="col-sm-3">
            NOTA
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nota1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdNota" class="btn btn-info">Editar</a> |
    <a asp-action="Index" class="btn btn-dark">Volver al Listado</a>
</div>
