@model INSECAP.Models.AsignacionCursosPro

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Esta seguro de eliminar este Registro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            CURSO ASIGNADO
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CodigoCursoNavigation.CodigoCurso) - @Html.DisplayFor(model => model.CodigoCursoNavigation.NombreCurso)
        </dd>
        <dt class = "col-sm-3">
            FECHA DE INICIO Y FIN DEL BIMESTRE
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.IdBimestreNavigation.FechaInicio) - @Html.DisplayFor(model => model.IdBimestreNavigation.FechaFin)
        </dd>
        <dt class = "col-sm-3">
            RUT DEL PROFESOR
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.RunProfesorNavigation.RunProfesor)-@Html.DisplayFor(model => model.RunProfesorNavigation.DvProfesor)
        </dd>
        <dt class="col-sm-3">
            NOMBRE DEL PROFESOR
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RunProfesorNavigation.Nombre) @Html.DisplayFor(model => model.RunProfesorNavigation.Apellido)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAsignacion" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-dark">Volver al Listado</a>
    </form>
</div>
