@model INSECAP.Models.AsignacionCursosPro

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de la Asignacion</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            CURSO ASIGNADO
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CodigoCursoNavigation.CodigoCurso) - @Html.DisplayFor(model => model.CodigoCursoNavigation.NombreCurso)
        </dd>
        <dt class = "col-sm-3">
            FECHA DE INICIO Y FIN DEL BIMESTRE
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.IdBimestreNavigation.FechaInicio) - @Html.DisplayFor(model => model.IdBimestreNavigation.FechaFin)
        </dd>
        <dt class = "col-sm-3">
            RUT DEL PROFESOR
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.RunProfesorNavigation.RunProfesor)-@Html.DisplayFor(model => model.RunProfesorNavigation.DvProfesor)
        </dd>
        <dt class="col-sm-3">
            NOMBRE DEL PROFESOR
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RunProfesorNavigation.Nombre) @Html.DisplayFor(model => model.RunProfesorNavigation.Apellido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAsignacion" class="btn btn-info">Editar</a> |
    <a asp-action="Index" class="btn btn-dark">Volver al Listado</a>
</div>
