@model IEnumerable<INSECAP.Models.AsignacionCursosAlu>

@{
    ViewData["Title"] = "Index";
}

<h1>Asignaciones de los Alumnos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Asignar un Curso a un Alumno</a>
</p>
<p>
    <a class="btn btn-dark text-white" asp-area="" asp-controller="Alumnoes" asp-action="index">Listado de Alumnos</a>
</p>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    // Función para mostrar una alerta de éxito
    @if (TempData.ContainsKey("MensajeExito"))
    {
        var mensajeExito = TempData["MensajeExito"] as string;
        <text>
            Swal.fire({
                icon: 'success',
                title: 'Éxito!',
                text: '@mensajeExito'
            }).then(function () {
                // Redirige al usuario a la página "Create"
                window.location.href = '@Url.Action("Index", "AsignacionCursosAlus")';
            });
        </text>
    }
</script>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Codigo y Nombre del Curso
            </th>
            <th>
                Sala Asignada
            </th>
            <th>
                Fecha de Inicio y Fecha de Fin
            </th>
            <th>
               Nombre Completo
            </th>
            <th>
                Opciones de la Asignacion
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.CodigoCursoNavigation.CodigoCurso) - @Html.DisplayFor(modelItem => item.CodigoCursoNavigation.NombreCurso)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CodigoSalaNavigation.CodigoSala)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.IdBimestreNavigation.FechaInicio) - @Html.DisplayFor(modelItem => item.IdBimestreNavigation.FechaFin)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.RunAlumnoNavigation.Nombre) @Html.DisplayFor(modelItem => item.RunAlumnoNavigation.Apellido)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdAsignacion">Editar</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdAsignacion">Detalles</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdAsignacion">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
