@model IEnumerable<INSECAP.Models.AsignacionCursosAlu>

@{
    ViewData["Title"] = "Index";
}

<h1>Asignaciones de los Alumnos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Asignar un Curso a un Alumno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Codigo y Nombre del Curso
            </th>
            <th>
                Sala Asignada
            </th>
            <th>
                Fecha de Inicio
            </th>
            <th>
               Nombre Completo
            </th>
            <th>
                Opciones de la Asignacion
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.CodigoCursoNavigation.CodigoCurso) - @Html.DisplayFor(modelItem => item.CodigoCursoNavigation.NombreCurso)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CodigoSalaNavigation.CodigoSala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdBimestreNavigation.FechaInicio)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.RunAlumnoNavigation.Nombre) @Html.DisplayFor(modelItem => item.RunAlumnoNavigation.Apellido)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdAsignacion">Editar Asignacion</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdAsignacion">Detalles de la Asignacion</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdAsignacion">Eliminar Asignacion</a>
            </td>
        </tr>
}
    </tbody>
</table>
